body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}



.login {
    opacity: 1.0;
    text-align: center;
    color: #0d819b;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 15px 15px 10px #000;;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border: solid 1px;
    border-radius: 5px;
}

button {
    color: #fff;
    background-color: #12c2e9;
    border: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #904bb3;
    transition: all .35s ease-in-out;
}

ul {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}


ul li {
    list-style-type: none; 
}

a {
    display: block;
    font-size: 17px;
    color: #1a99b6;
    text-decoration: none;
    
}

a:hover {
    color: #904bb3;
    border-bottom: 2px solid;
    transition: all .25s ease-in-out;
}



